<div id="pro">
	<img src="/images/lovepark.jpg"><br>
	<img src="/images/iam.jpg">
	<img src="/images/boathouserow.jpg">
	<img src="/images/canal.jpg">
	<img src="/images/philadelphia-skyline.jpg">
	<img src="/images/amsterdam-skyline.jpg">
</div>

<div id="profile"> 
	<h2>
		Welcome to my world! 
		<% if @currentUser != @user %>
		<form method="POST" action="/follow/<%= @user.id %>" id="follow">
		<button>Follow Me!</button></a>
		<% end %>
	</h2>
	<h2 id="sig" >
		<i>-<%=@user.fname %></i>
	</h2>
	<% if @currentUser == @user %>
	<h3>
		<span style="color: rgb(135, 19, 20)"><u>New Post</u></span>
	</h3>
		<form method="POST" action="/profile">
			<label for="title">Title:</label>
			<br>
			<input type="text" name="title" class="posttitle">
			<br>
			<label for="body">Body:</label>
			<br>
			<textarea name="body" class="postbody"></textarea>	
			<br>
			<button class="login">Post</button>
		</form>
	<% end %>
	<h3>
		<span style="color: rgb(135, 19, 20)"><u>Profile</u></span>
	</h3>
	Name:
	<%= @user.fname %> <%= @user.lname %>
	<br>
	Username:
	<%= @user.username %>
	<br>
	Email Address:
	<%= @user.email %>
	<br>
	Gender:
	<%= @user.gender %>
	<br>
	From:
	<%= @user.city %> in the: 
	<%= @user.country %>
	<br>
	Birthday:
	<%= @user.birthday %>
	<h3>
		<span style="color: rgb(135, 19, 20)"><u>Followers</u></span>
	</h3>
	<h2>
		<% @user.followers.each do |follower| %>
			<a href="/profiles/<%= follower.id %>"><%= follower.fname %></a>
		<% end %> 
	</h2>
	<h3>
		<span style="color: rgb(135, 19, 20)"><u>Following</u></span>
	</h3>
	<h2>
		<% @user.followees.each do |followee| %>
			<a href="/profiles/<%= followee.id %>"><%= followee.fname %></a>
		<% end %> 
	</h2>
	<h3>
		<span style="color: rgb(135, 19, 20)"><u>Posts</u></span>
	</h3>
	<% @top_three_posts.each do |post| %>
	<h3>
		Title: <%= post.title %>
	</h3>
		<br>
		<%= post.body %>
	<% end %>
	
</div>
