<div id="pro">
	<img src="images/lovepark.jpg"><br>
	<img src="images/iam.jpg">
	<img src="images/boathouserow.jpg">
	<img src="images/canal.jpg">
	<img src="images/philadelphia-skyline.jpg">
	<img src="images/amsterdam-skyline.jpg">
</div>

<div id="profile"> 
	<h2>
		Welcome to my world!
	</h2>
	<h2 id="sig" >
		<i>-<%=@currentUser.fname %></i>
	</h2>

	<h3>
		<span style="color: rgb(135, 19, 20)"><u>New Post</u></span>
	</h3>

	<form method="POST" action="/profile">
		<label for="title">Title:</label>
		<br>
		<input type="text" name="title" class="posttitle">
		<br>
		<label for="body">Body:</label>
		<br>
		<textarea name="body" class="postbody" maxlength="150"></textarea>	
		<br>
		<button class="login">Post</button>
	</form>
	<h3>
		<span style="color: rgb(135, 19, 20)"><u>Profile</u></span>
	</h3>
	Name:
	<%= @currentUser.fname %> <%= @currentUser.lname %>
	<br>
	Username:
	<%= @currentUser.username %>
	<br>
	Email Address:
	<%= @currentUser.email %>
	<br>
	Gender:
	<%= @currentUser.gender %>
	<br>
	From:
	<%= @currentUser.city %> in the: 
	<%= @currentUser.country %>
	<br>
	Birthday:
	<%= @currentUser.birthday %>
	<h3>
		<span style="color: rgb(135, 19, 20)"><u>Followers</u></span>
	</h3>
	<h3>
		<span style="color: rgb(135, 19, 20)"><u>Following</u></span>
	</h3>
	<h3>
		<span style="color: rgb(135, 19, 20)"><u>Posts</u></span>
	</h3>
	<% @top_three_posts.each do |post| %>
	<h3>
		Title: <%= post.title %>
	</h3>
		<br>
		<%= post.body %>
	<% end %>
	
</div>